# Hadling Missing data

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame([[np.nan, 2, np.nan, 0], [3, 4, np.nan, 1],
                    [np.nan, np.nan, np.nan, 5], [np.nan, np.nan, np.nan, np.nan]],
                   columns=list('ABCD'))

In [3]:
df

     A    B   C    D
0  NaN  2.0 NaN  0.0
1  3.0  4.0 NaN  1.0
2  NaN  NaN NaN  5.0
3  NaN  NaN NaN  NaN

In [6]:
df.dropna(axis=1, how='all')

     A    B    D
0  NaN  2.0  0.0
1  3.0  4.0  1.0
2  NaN  NaN  5.0
3  NaN  NaN  NaN

In [9]:
df.dropna(axis=0, how='all')

     A    B   C    D
0  NaN  2.0 NaN  0.0
1  3.0  4.0 NaN  1.0
2  NaN  NaN NaN  5.0

In [10]:
df

     A    B   C    D
0  NaN  2.0 NaN  0.0
1  3.0  4.0 NaN  1.0
2  NaN  NaN NaN  5.0
3  NaN  NaN NaN  NaN

In [13]:
df['B'].fillna(df['B'].mean())

0    2.0
1    4.0
2    3.0
3    3.0
Name: B, dtype: float64

In [12]:
df['B'].mean()

3.0

In [15]:
df.replace(np.NaN, "There was missing value here")

,A,B,C,D
0,There was missing value here,2,There was missing value here,0
1,3,4,There was missing value here,1
2,There was missing value here,There was missing value here,There was missing value here,5
3,There was missing value here,There was missing value here,There was missing value here,There was missing value here